{% extends 'JTVCleanBundle::layout.html.twig' %}

{% block title 'Main page' %}

{% block content1 %}
<h1>Notifies list</h1>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Organization</th>
            <th>Dt</th>
            <th>Type</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('notifies_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.organization }}</td>
            <td>{% if entity.dt %}{{ entity.dt|date('d.m.Y H:i:s') }}{% endif%}</td>
            <td>{{ entity.type }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('notifies_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('notifies_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('notifies_new') }}">
            Create a new entry
        </a>
    </li>
</ul>

{% endblock %}
