{% extends 'JTVCleanBundle::layout.html.twig' %}

{% block topbar %}
    {% use 'JTVCleanBundle::topbar.html.twig' %}
    {% block topbar1 %}
        {{ parent() }}
    {% endblock %}
    {% block navigation %}
        <li><a href="{{ path('notifies') }}">Home</a></li>
        <li class="active"><a href="{{ path('notifies_search') }}">Search</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
        <li class="dropdown" data-dropdown="dropdown" >
            <a href="#" class="dropdown-toggle">Dropdown</a>
            <ul class="dropdown-menu">
                <li><a href="#">Secondary link</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Another link</a></li>
            </ul>
        </li>
    {% endblock %}
    {% block topbar2 %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
    
{% block content1 %}
{% if date is defined %}
    <h1 align="center">Data for {{ date }}</h1>
{% endif %}
<table>
<thead>
    <tr>
        <th>Id</th>
        <th>Organization</th>
        <th>Dt</th>
        <th>Type</th>
        <th>Actions</th>
    </tr>
</thead>
<tbody>
{% if entity is defined %}
{% for note in entity %}
    <tr>
        <td><a href="{{ path('notifies_show', { 'id': note.id }) }}">{{ note.id }}</a></td>
        <td>{{ note.organization }}</td>
        <td>{% if note.dt %}{{ note.dt|date('d.m.Y H:i:s') }}{% endif%}</td>
        <td>{{ note.type }}</td>
        <td>
            <ul>
                <li>
                    <a href="{{ path('notifies_show', { 'id': note.id }) }}">show</a>
                </li>
                <li>
                    <a href="{{ path('notifies_edit', { 'id': note.id }) }}">edit</a>
                </li>
            </ul>
        </td>
    </tr>
{% endfor %}
{% else %}
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
{% endif %}
</tbody>
</table>
{% endblock %}
